.lastOrderList__container{
    margin-left: 10px;
    margin-right: 10px;
    background-color: aliceblue;

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
    height: auto;
    
}

.pizzaCardContainer:hover{
    outline: black solid 2px;
}

::-webkit-scrollbar {
    display: none;
}