.pizyPopup__menu__itemsContainer{
    width: 380px;
    padding: 20px;
    background-color: rgb(247, 247, 247);
}

.pizzaAllIngridients__toppingsList{
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
    border-radius: 10px;
}

.pizzaAllIngridients__price{
    text-align:end;
    margin-top: 12px;
    margin-bottom: 5px;
}

.pizzaAllIngridients__price__text{
    font-weight: 500;
    font-size: 22px;
}

.pizzaAllIngridients__orderButton{
    display: flex;
    justify-content: end;
}

.pizzaAllIngridients__customSelect{
    margin-top: 10px;
}