@import './variables.css';


p,span{
  font-family: 'Kantumruy';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button:focus {
  outline: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
