:root {
    --primary-color: #EB005E;
    --font-header-colour-default: #1d1d1d;
    --font-header-colour-chosen: #000000;

}

@font-face {
    font-family: 'Imbue';
    src: url('../public/fonts/Imbue.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Kantumruy';
    src: url('../public/fonts/KantumruyPro-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 700;
}