.pizzaGood__container {
    width: 200px;
    padding: 10px;
    background-color: #F8F8F8;
    border-radius: 14px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pizzaGood__container__image {
    display: flex;
    justify-content: center;
}

.pizzaGood__image {
    width: 180px;
}

.pizzaGood__mainText {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: auto;
}

.pizzaGood__bottomLineContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}
