.container{
    height: 303px;

    background-image:  url("/public/images/background-sub-header2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 96%;
}