.currentButton>p{
    font-weight: 400;
    color: white;
    font-size: 18px;
}

.currentButton{
    background-color: #EB7100;
    width: 100px;
    height: 30px;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.currentButton:hover{
    background-color: #fd9432;
}