@import '../../../variables.css';





@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.pizzaPopup__background {
    background-color: #4e4e4e7e;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    pointer-events: none;
}

.pizzaPopup__background.active{
    display:flex;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.container{
    position: absolute;
    height: auto;
    width: auto;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border: 3px, solid, var(--primary-color);

    display: none;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    pointer-events: none;

    padding: 2px;
}

.container span{
    font-weight: 500;

}

.container.active{
    display:block;

    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.container__image{
    width: 50px;
    pointer-events: none;
}

.toppingsContainer{
    display: flex;
    justify-content: center;
    width: 150px;
}

.toppingsContainer__items{
    display: flex;
    justify-content: center;
    align-items: center;
}