.curentButton>p{
    font-family: 'Kantumruy';
    font-weight: 600;
    color: white;
    font-size: 22px;
}

.curentButton{
    background-color: #f1327e ;
    width: 160px;
    height: 44px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.curentButton:hover{
    background-color: var(--primary-color);
}

.curentButton:active{
    background-color: #d60056;
}