
.mottoContainer{
    display: flex;
    justify-content: center;
}
.mottosContainer {

    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;

    display: flex;
    justify-content: space-between;
}

.mottosContainer span {
    flex: 1;
    text-align: center;
}

.mottosContainer span:first-child {
    text-align: left;
}

.mottosContainer span:last-child {
    text-align: right;
}
span {
    font-weight: 415;
}