@import '../../../variables.css';

.container:first-child{
    margin-left: 0%;

}

.container{
    width: 350px;
    margin-left: 4%;
}

.imageContainer{
    display: flex;
    justify-content: center;
}

.imageContainer img {
    border: var(--secondary-color) solid 4px;
    border-radius: 17px;

    width: 350px;
    height: 220px;

    object-fit:cover
}

.info_textContainer{
    margin-top: 20px;
    text-align: center;
}

.info__mainText{
    font-weight: 650;
    font-size: 25px;
}

.info__secondaryText{

}