.containerAdv{
    margin-left: 5%;
    padding-top: 100px;
    width: fit-content;
    height: 185px;
}

p{
    font-family: 'Kantumruy';

}

.containerAdv__callToAction{
    font-weight: 600;
    font-size: 40px;
}

.containerAdv__callToAction_less{
    min-width: 100px;
    max-width: 410px;
    font-weight: 450;
    font-size: 24px;
    text-align: super;

}

.buttons_container{
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
}